.education{
    color: #faebff;
    margin-top: 20px;
    /*width: 100%;*/
    /*min-height: 85vh;*/
    /*top: 100px;*/
    /*position: absolute;*/
}
.education h1{
    margin-left: 30%;
    margin-bottom: 20px;
}
.education hr{
    color: #faebff;
    margin-top: 0;
}
.education p{
    font-size: 18px;
}
