.education{
    color: #faebff;
    top: 90px;
    position: relative;
    /*margin-top: 20px;*/
    /*width: 100%;*/
    /*min-height: 85vh;*/
    /*top: 100px;*/
    /*position: absolute;*/
}
.education h1{
    text-align: center;
    margin-bottom: 30px;
}
.education hr{
    color: #faebff;
    margin-top: 0;
}
.education p{
    font-size: 18px;
}
